html, body {
  height: 100%;
  min-height: 100%;
  min-height: 100vh;
  background-color: red;
  background: -webkit-linear-gradient(left top, rgb(70,85,125), rgb(45,55,80)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgb(70,85,125), rgb(45,55,80)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgb(70,85,125), rgb(45,55,80)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgb(70,85,125) , rgb(45,55,80)); /* Standard syntax */
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  display: flex;
  align-items: center;
}
#app {
  height: 100%;
}
.container-fluid {
  min-height: 100%;
}
.container {
  height: 100%;
}
.well {
  height: 90%;
}


circle.node {
  cursor: pointer;
  stroke-width: 1.5px;
  fill: #ddddff;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}